{% extends 'PlanIFYweb/navbar.html' %}
{% load static %}
{% block content %}
<body>
    <div class="filler">
        <h1 class="filler-text">filler</h1>
    </div>

    <div class="action-button-list">
        {% if host %}
        <div type="button" id="new-event-button" class="dashboard-button" role="button">
            Create a New Event
        </div>
        {% endif %}

        {% if host %}
        <div type="button" id="new-affiliate-button" class="dashboard-button" role="button">
            Create a New Affiliate
        </div>
        {% endif %}

        {% if athlete %}
        <div type="button" id="join-affiliate-button" class="dashboard-button" role="button">
            Join an Affiliate
        </div>
        {% endif %}
    
        {% if athlete %}
        <div type="button" id="serach-event-button" class="dashboard-button" role="button">
            Find an Event(s)
        </div>
        {% endif %}

        {% if vendor %}
        <div type="button" id="new-event-button" class="dashboard-button" role="button">
            Cater an Event(s)
        </div>
        {% endif %}
    </div>


    <div class="event-lists">
        <!-- Current Events participating -->
        {% if athleteevents %}
            <div class="athlete-list">
                <div>
                    <h3>Your Upcoming Events</h3>
                    {% for event in athleteevents %}
                    <div class="event-div"> 
                        {% if event.event_banner %}
                        <img src="media/{{event.event_banner}}"/>
                        {% else %}
                        <img src="{% static '/media/images/generic_workout.jpeg' %}"/>
                        {% endif %}
                        <div class="event-info-div">
                            <div>
                                <h2>{{event.event_name}} : {{event.event_date}}</h2>
                                <h2>Days Until: {{ event.daystoevent }}</h2>
                                <p>{{event.event_description}}</p>
                            </div>
                        </div>
                        <a href="{% url 'HostedEvent' eventname=event.event_name %}" class='event-link'></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <!-- Current Hosting Events participating -->
        {% if hostevents %}
            <div class="host-list">
                <div>
                    <h3>Your Upcoming Hosted Events</h3>
                    {% for event in hostevents %}
                    <div class="event-div">
                        {% if event.event_banner %}
                        <img src="media/{{event.event_banner}}"/>
                        {% else %}
                        <img src="{% static '/media/images/generic_workout.jpeg' %}"/>
                        {% endif %}
                        <div class="event-info-div">
                            <div>
                                <h2>{{event.event_name}} : {{event.event_date}}</h2>
                                <p>{{event.event_description}}</p>
                            </div>
                            <h2 class="event-price">{{event.event_price_athlete}}</h2>
                        </div>
                        <a href="{% url 'HostedEvent' eventname=event.event_name %}" class='event-link'></a>
                    </div>
                    {% endfor %}
                </div>
        {% endif %}    

        </div>


        <!-- Current Events Vending -->
        {% if vendorevents %}
            <div class="host-list">
                
                <h3>Your Upcoming Catering Events</h3>
                {% for event in vendorevents %}
                <div class="event-div">
                    {% if event.event_banner %}
                    <img src="{{event.event_banner}}"/>
                    {% else %}
                    <img src="{% static '/media/images/generic_workout.jpeg' %}"/>
                    {% endif %}
                    <div class="event-info-div">
                        <div>
                            <h2>{{event.event_name}} : {{event.event_date}}</h2>
                            <p>{{event.event_description}}</p>
                        </div>
                        <h2 class="event-price">{{event.event_size}}</h2>
                    </div>
                    <a href="{% url 'HostedEvent' eventname=event.event_name %}" class='event-link'></a>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <!-- Dialog for creating a new event-->
        <dialog id="new-event-dialog" class="new-event-dialog">
            
            <form action="" method="post" name="form1" class="event-name-form">
                {% csrf_token %}
                <h4>Event Name:</h4>
                {{ form1.name }}<br><br>
                <input type="submit" title="Create" id="save" class="save">
                <button name="Close" id="close-btn" class="close-btn">Cancel</button>
            </form>
            
        </dialog>

        <dialog id="join-affiliate-dialog" class="join-affiliate-dialog">
            
            <form action="" method="post" name="form2" class="join-affiliate-form">
                {% csrf_token %}
                <h4>Search for an affiliate name:</h4>
                {{ form2.affiliate_name }}<br><br>
                <input type="submit" title="search" id="search" class="search">
                <button name="Close" id="close-btn-2" class="close-btn-2">Cancel</button>
            </form>
            
        </dialog>



   
</body>

<script>
    //Actions for the new event dialog
    const newevent = document.getElementById("new-event-button");
    const modal = document.getElementById("new-event-dialog");
    const closebtn = document.getElementById("close-btn");
    const submitbtn = document.getElementById("save");

    newevent.addEventListener('click', ()=>{
        modal.showModal();
    })

    closebtn.addEventListener('click', ()=>{
        modal.close();
    })

    submitbtn.addEventListener('click', ()=>{
        document.write(eventname)
        console.log(eventname)
    })

    //Actions for searching for an affiliate
    const joinaffiliate = document.getElementById("join-affiliate-button");
    const modal2 = document.getElementById("join-affiliate-dialog");
    const closebtn2 = document.getElementById("close-btn-2");
    const searchbtn = document.getElementById("search");
    const eventsearchbtn = document.getElementById("serach-event-button");

    joinaffiliate.addEventListener('click', ()=>{
        modal2.showModal();
    })

    closebtn2.addEventListener('click', ()=>{
        modal2.close();
    })

    searchbtn.addEventListener('click', ()=>{
        document.write(eventname)
    })

    eventsearchbtn.addEventListener('click', ()=>{
        window.location = "{% url 'EventSearch' %}"
    })
</script>
{% endblock %}



