{% extends 'PlanIFYweb/navbar.html' %}

{% block content %}
<body>
    <div class="filler">
        <h1 class="filler-text">filler</h1>
    </div>
    <h2>Event Preparation</h2>
    <div>
        <p>
            Let's get prepared for the big event! 
            Here are a few helpful reminders before getting started.
            <ul>
                <li>Temperature for the day</li>
                <li>Stop watches</li>
                <li>Parking</li>
                <li>Food and drinks</li>
                <li>Intermission time and entertainment</li>
                <li>Speeches</li>
                <li>Assistant coordinators</li>
                <li>Station location(s) and setup</li>
                <li>Personality conflicts</li>

            </ul>
        </p>
    </div>
    <div>
        <h2>Workout List</h2>
        <button>Print Workouts</button>
        <button id="plan-heat">Plan Heats</button>
        <button>Print Judge Forms</button>
        <ol>
            {% for workout in workoutlist %}
            <li> {{workout.workout_name}} - {{workout.type}} - {{workout.workout_time}} - {{workout.floater}}</li>
            {% endfor %}
        </ol>
        
    </div>
    <div>
        <h2>Participants</h2>
        {% if athletes %}
            {% for athlete in athletes %}
            <div class="athlete-list-main" id="athlete-list-main" style="border: 1px solid black; width: 18%; margin: 5px;"> {{athlete.first_name_of_participant}} {{athlete.last_name_of_participant}}</div>
            {% endfor %}
        
    {% else %}
    <h3>No registered participants yet.</h3>
    {% endif%}


    </div>
    <div>
        <h2>Judges and Help</h2>
        {% if help %}
            <ol>
                {% for helpers in help %}
                <li> {{helpers.first_name}} {{helpers.last_name}}</li>
                {% endfor %}
            </ol>
        {% else %}
        <h3>No registered help yet.</h3>
        {% endif%}
        
    </div>
    <div>
        <h2>Facility layout and Stations</h2>
    </div>

    <dialog id="heat-planning" style="width: 75%; height: 80%;">
        <div class="frame" style="columns: 2;">
            <div>
                <H3>Athletes</H3>
                <div class="athlete-list" style="border: 1px solid black; width: 100%; height: 500px;" ondrop="drop(event)" ondragover="allowDrop(event)" ondragstart="drag(event)">
                    {% if athletes %}
                    {% for athlete in athletes %}
                    <div class="list-item" id="list-item" style="border: 1px solid black; width: 18%; margin: 5px;" draggable="true" ondragstart="drag(event)"> {{athlete.first_name_of_participant}} {{athlete.last_name_of_participant}}</div>
                    {% endfor %}
                
                    {% else %}
                    <div class="list-item" id="list-item" style="border: 1px solid black; width: 18%; margin: 5px;" draggable="false"> None</div>
                    {% endif %}

                </div>
            </div>
            <div>
                <h3>Heats</h3>
                <div class="heat-list" style="border: 1px solid black; width: 100%; height: 100%; height: 500px;">
                    <button id="add-heat">Add Heat</button>
                    <div id="heats">
                    </div>
                </div>
            </div>           

        </div>
    </dialog>
</body>
<script>
    const plan_heat = document.getElementById("plan-heat");
    const heat_plan = document.getElementById("heat-planning");
    const add_heat = document.getElementById("add-heat");
    const heats = document.getElementById("heats");
    let heatcount = 1;

    add_heat.addEventListener('click', ()=>{
        heats.innerHTML += `<div style="border: 1px solid black; width: 90%; margin: 5px;" ondrop="drop(event)" ondragover="allowDrop(event)" ondragstart="drag(event)">Heat: ${heatcount}</div>`;
        heatcount += 1;
    })

    plan_heat.addEventListener('click', ()=>{
        heat_plan.showModal();
    })

    function allowDrop(ev) {
  ev.preventDefault();
}

function drag(ev) {
  ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");
  ev.target.appendChild(document.getElementById(data));
}
</script>



{% endblock %}