<!DOCTYPE html>
<html>
    <head>
        <div>
            <div>Sign Up</div>
            <div>Sign In</div>
        </div>
    </head>
    <body>
        <div>
            <h3>PlanIFY</h3>
            <h4>Less setup more reps</h4>
        </div>

        <div>
            <h3>Events</h3>
            <div>
                <div>Find an Event</div>
            </div>
        </div>


        <div>
            <p>PlanIFY helps to guide you through the process of event planning.
                We know the difficulty in coordinating an event and our mission is
                to simplify the event planning and coordinating process.
            </p>
        </div>

        <div>
            <h3>Features:</h3>
            <ul>
                <li>Event Home Page Hosting</li>
                <li>Athlete Registration</li>
                <li>Judge Registration</li>
                <li>Event Scheduling</li>
                <li>Workout Planning</li>
                <li>Heat Planning</li>
                <li>Vendor Planning</li>
            </ul>
        </div>

    </body>
    <footer>

    </footer>
</html>