{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    </head>
    
        <div class="nav-bar">
            <a href="{% url 'Profile' user=user%}" class="navlink">{{ user }}
                {% if profile_pic %}
                    <img src="media/{{ img }}" class="profile-pic" />
                {% else %}
                <img src="{% static '/media/images/generic_avatar.png'  %}" class="profile-pic" />
                {% endif %}
            </a>
            <a href="{% url 'Home' %}" class="navlink">Home</a>
            <a href="{% url 'SignOut' %}" class="navlink">Logout</a>
            <center><h3>{{pagename}}</h3></center>
        </div>

    {% block content %}

    {% endblock%}
    <footer>
        
    </footer>
</html>