{% extends 'PlanIFYweb/navbar.html' %}
{% load static %}
{% block content %}
<body>
    <div class="filler">
        <h1 class="filler-text">filler</h1>
    </div>
    <div class="search-bar">
        <input type="text" class="search-box" placeholder="Search">
        <input type="button" class="search-btn" value="SEARCH">
    </div>

    <div class="search-results-area">
    <!--search results here-->
        <div>
            <h4>Host: </h4>
            <h4>Location: </h4>
            <h4>Date: </h4>
            <h4>Price: </h4>
            <h4>Description: </h4>
        </div>

    </div>


</body>
{% endblock %}